<h3>Name:</h3>
<p><%= @pizza.pretty_name() %></p>
<h3>Order:</h3>
<p><%= @pizza.quantity %> x <%= @pizza.topping %></p>
<h3>Total:</h3>
<p>£<%= @pizza.total %></p>
<a href="/pizzas/<%= @pizza.id %>/edit">Edit</a>
<form action="/pizzas/<%= @pizza.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

